<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container text-center my-3">
    <style>
        tr > td.state {
            width: 1px;
        }
        tr > td.state.activate {
            background-color: #64B5F6;
        }
        tr > td.state.deactivate {
            background-color: #E0E0E0;
        }

        .chartBox {
            width: 100%;
            background: white;
        }
        .container {
            overflow-x: scroll;
        }
        .containerBody {
            height: 450px;
        }
    </style>

<!--    <link rel="stylesheet" th:href="@{/css/CSS_NAME.css}">-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!--  타임리프 인증된 사용자 접속 시 스크립트  -->
    <script sec:authorize="isAuthenticated()"></script>

    <!--  타임리프 기본 실행 스크립트  -->
    <script th:inline="javascript">
        const logList = [[${logList}]]; // 데이터 저장

        // 그래프 표시 데이터
        const logListReverse = [...logList].reverse();
        let chartDataArray = new Array();

        logListReverse.forEach((log) => {
            let chartData = new Object();
            chartData.x = new String(log.requestAt).replace('T', ' ').substring(2);
            chartData.y = log.ampere;

            chartDataArray.push(chartData);
        });

        let config  = {
            type: 'line',
            data: {
                datasets: [{
                    label: '충전 전력량(W)',
                    data: chartDataArray,
                    lineTension: 0.1,
                    borderWidth: 3,
                    pointBorderWidth: 3,
                    pointBackgroundColor: '#FFFFFF',
                    pointHoverBackgroundColor: '#36A2EB'
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    x: {
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: logListReverse.length / 10
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        }

        window.onload = function(){
            // Chart.js 그래프 생성
            const ctx = document.getElementById('myChart');
            const container = document.getElementsByClassName('container')[0];
            const containerBody = document.getElementsByClassName('containerBody')[0];

            const myChart = new Chart(ctx, config); // 그래프 생성
            const totalLableSize = myChart.data.labels.length; // 레이블 개수
            const thresholdLableSize = 150; // 스크롤 적용할 레이블 개수 임계치
            const widthPerLabel = 4; // 레이블 당 폭

            if (totalLableSize > thresholdLableSize) {
                containerBody.style.width = document.getElementsByClassName('container')[0].offsetWidth + (totalLableSize - thresholdLableSize) * widthPerLabel + 'px';
            }
            
            myChart.update();
        }
    </script>

    <div class="d-block text-start">
        <H2>충전 로그 조회</H2>
        <span class="d-inline-block mb-2" th:text="|등록 로그 수: ${logList.size}개|"></span>
    </div>

    <div class="alert alert-secondary mb-0 d-flex align-items-center" th:if="${#lists.isEmpty(logList)==true}">
        <svg class="bi flex-shrink-0 me-2" width="20" height="20" fill="currentColor" role="img" aria-label="Success:"><use xlink:href="#info-fill"/></svg>
        <div>표시할 도서가 없습니다.</div>
    </div>

    <div class="chartBox">
        <div class="container">
            <div class="containerBody">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th></th>
            <th>충전기 id</th>
            <th>로그 id</th>
            <th>등록일</th>
            <th>등록 시각</th>
            <th>기기 전송 시각</th>
            <th>충전량</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logList}">
            <td class="state" th:classappend="${log.ampere <= 10.0 ? 'deactivate' : 'activate'}"></td>
            <td th:text="${log.chargerId}">충전기 id</td>
            <td th:text="${log.id}">로그 id</td>
            <td th:text="${#temporals.format(log.createdAt, 'yyyy-MM-dd')}">등록일</td>
            <td th:text="${#temporals.format(log.createdAt, 'HH:mm:ss')}">등록 시각</td>
            <td th:text="${#temporals.format(log.requestAt, 'HH:mm:ss')}">기기 전송 시각</td>
            <td th:text="${log.ampere}">충전량</td>
        </tr>
        </tbody>
    </table>
</div>
</html>
