<html layout:decorate="~{common/layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container text-center my-3">
    <style>
        .dashboardTable { width: 800px; }

        .ratioTd { width: 100px; }

        .rowIcon {
            width: 25px;
            height: 25px;
        }

        .fillGreen { fill: #408558; }
        .fillGray { fill: #BDBDBD; }
        .fillRed { fill: #E15241; }
        .fillYellow { fill: #F6C343; }
        .progressGreen { background: #408558; }
        .progressGray { background: #BDBDBD; }
        .progressRed { background: #E15241; }
        .progressYellow { background: #F6C343; }
    </style>

    <!--    <link rel="stylesheet" th:href="@{/css/CSS_NAME.css}">-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

    <script>
        const totalChargerHref = "/chargers/list";
        const idleChargerHref = "#";
        const usingChargerHref = "#";
        const brokenChargerHref = "#";
        const totalReviewHref = "/reviews";
        const inProgressReportHref = "/reports"
        const completedReportHref = "#";
        const notRequestRecentlyChargerHref = "#";
        const notUsingTodayChargerHref = "#";

        window.onload = function () {
            const reportProgressBarInProgress = document.querySelector('.reportProgressBarInProgress');
            const reportProgressBarCompleted = document.querySelector('.reportProgressBarCompleted');

            let totalReportCount = inProgressReportCount + completedReportCount;
            reportProgressBarInProgress.style.width = Math.round((inProgressReportCount / totalReportCount) * 100) + '%';
            reportProgressBarCompleted.style.width = (100 - reportProgressBarInProgress.style.width.replace('%', '')) + '%'; // 소수점으로 인한 프로그래스바 오류 대응
        }
    </script>

    <!--  타임리프 인증된 사용자 접속 시 스크립트  -->
    <script sec:authorize="isAuthenticated()"></script>

    <!--  타임리프 기본 실행 스크립트  -->
    <script th:inline="javascript">
        const inProgressReportCount = [[${inProgressReportCount}]];
        const completedReportCount = [[${completedReportCount}]];

    </script>

    <div class="d-block mb-3 text-start">
        <H2 class="fw-bold">DASHBOARD</H2>
    </div>


    <div class="mb-1"></div>

    <div class="container d-flex justify-content-center">
        <table class="dashboardTable table table-bordered">
            <thead class="table-light">
                <tr>
                    <td>분류</td>
                    <td>항목</td>
                    <td>개수</td>
                    <td class="ratioTd">비율</td>
                    <td>상세 조회</td>
                </tr>
            </thead>
            <tbody class="align-middle">
                <!--  충전기 현황(4 Row)  -->
                <tr>
                    <td rowspan="4">충전기 현황</td>
                    <td class="text-start">
                        <svg class="rowIcon bi flex-shrink-0 me-2 fillGreen" role="img"><use xlink:href="#lightning-charge-fill"/></svg>
                        <span class="align-middle">전체 충전기</span>
                    </td>
                    <td><div th:text="${totalChargerCount}"></div></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td><button class="btn btn-sm btn-outline-primary" type="button" onclick="location.href=totalChargerHref">바로가기</button></td>
                </tr>
                <tr>
                    <td class="text-start">
                        <svg class="rowIcon bi flex-shrink-0 me-2 fillGray" role="img"><use xlink:href="#lightning-charge-fill"/></svg>
                        <span class="align-middle">유휴 충전기</span>
                    </td>
                    <td><div th:text="${idleChargerCount}"></div></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progressGray" th:style="'width:' + ${#numbers.formatDecimal(idleChargerCount * 100 / totalChargerCount,0,0)} + '%'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td><button class="btn btn-sm btn-outline-primary" type="button" onclick="location.href=idleChargerHref">바로가기</button></td>
                </tr>
                <tr>
                    <td class="text-start">
                        <svg class="rowIcon bi flex-shrink-0 me-2 fillYellow" role="img"><use xlink:href="#lightning-charge-fill"/></svg>
                        <span class="align-middle">사용중인 충전기</span>
                    </td>
                    <td><div th:text="${usingChargerCount}"></div></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progressYellow" th:style="'width:' + ${#numbers.formatDecimal(usingChargerCount * 100 / totalChargerCount,0,0)} + '%'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td><button class="btn btn-sm btn-outline-primary" type="button" onclick="location.href=usingChargerHref">바로가기</button></td>
                </tr>
                <tr>
                    <td class="text-start">
                        <svg class="rowIcon bi flex-shrink-0 me-2 fillRed" role="img"><use xlink:href="#lightning-charge-fill"/></svg>
                        <span class="align-middle">고장난 충전기</span>
                    </td>
                    <td><div th:text="${brokenChargerCount}"></div></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progressRed" th:style="'width:' + ${#numbers.formatDecimal(brokenChargerCount * 100 / totalChargerCount,0,0)} + '%'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td><button class="btn btn-sm btn-outline-primary" type="button" onclick="location.href=brokenChargerHref">바로가기</button></td>
                </tr>
                <tr>
                    <td>리뷰 현황</td>
                    <td class="text-start">
                        <svg class="rowIcon bi flex-shrink-0 me-2 fillGreen" role="img"><use xlink:href="#star-fill"/></svg>
                        <span class="align-middle">전체 리뷰</span>
                    </td>
                    <td><div th:text="${reviewCount}"></div></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar w-100" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td><button class="btn btn-sm btn-outline-primary" type="button" onclick="location.href=totalReviewHref">바로가기</button></td>
                </tr>
                <!--  신고 처리 현황(2 Row)  -->
                <tr>
                    <td rowspan="2">신고 처리 현황</td>
                    <td class="text-start">
                        <svg class="rowIcon bi flex-shrink-0 me-2 fillRed" role="img"><use xlink:href="#file-earmark-text-fill"/></svg>
                        <span class="align-middle">처리중인 고장 신고</span>
                    </td>
                    <td><div th:text="${inProgressReportCount}"></div></td>
                    <td rowspan="2">
                        <div class="progress">
                            <div class="progress-bar progressRed reportProgressBarInProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar progressGray reportProgressBarCompleted" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td><button class="btn btn-sm btn-outline-primary" type="button" onclick="location.href=inProgressReportHref">바로가기</button></td>
                </tr>
                <tr>
                    <td class="text-start">
                        <svg class="rowIcon bi flex-shrink-0 me-2 fillGray" role="img"><use xlink:href="#check-circle-fill"/></svg>
                        <span class="align-middle">처리 완료된 고장 신고</span>
                    </td>
                    <td><div th:text="${completedReportCount}"></div></td>
                    <td><button class="btn btn-sm btn-outline-primary" type="button" onclick="location.href=completedReportHref">바로가기</button></td>
                </tr>
                <!--  추가 모니터링 항목(2 Row)  -->
                <tr>
                    <td rowspan="2">추가 모니터링<br>항목</td>
                    <td class="text-start">
                        <svg class="rowIcon bi flex-shrink-0 me-2 fillYellow" role="img"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <span class="align-middle">직전 30분간 로그를 전송하지 않은 충전기</span>
                    </td>
                    <td><div th:text="${notRequestRecentlyChargerCount}"></div></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progressYellow" th:style="'width:' + ${#numbers.formatDecimal(notRequestRecentlyChargerCount * 100 / totalChargerCount,0,0)} + '%'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td><button class="btn btn-sm btn-outline-primary" type="button" onclick="location.href=notRequestRecentlyChargerHref">바로가기</button></td>
                </tr>
                <tr>
                    <td class="text-start">
                        <svg class="rowIcon bi flex-shrink-0 me-2 fillYellow" role="img"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <span class="align-middle">오늘 단 한번도 사용되지 않은 충전기</span>
                    </td>
                    <td><div th:text="${notUsingTodayCharger}"></div></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progressYellow" th:style="'width:' + ${#numbers.formatDecimal(notUsingTodayCharger * 100 / totalChargerCount,0,0)} + '%'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td><button class="btn btn-sm btn-outline-primary" type="button" onclick="location.href=notUsingTodayChargerHref">바로가기</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>
